* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  background-color: #4862aa;
  width: 100%;
}

#startScreen {
  margin: auto;
  margin-top: 50px;
  display: flex;
  width: 200px;
  height: 100px;
  text-align: center;
  background-image: url("../assets/images/sandshrew.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.logo {
  width: 50%;
  padding-top: 10px;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #da4332;
  color: #ffdc35;
  font-size: 20px;
  border: none;
}

.start-timer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #4862aa;
  padding: 20px 10px;
}

.timer {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4862aa;
  color: #ffdc35;
  font-size: 18px;
  padding: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #434c4b;
  font-family: "Nunito", sans-serif;
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
}
.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

label {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  justify-self: center;
  color: #ffdc35;
}
.card,
.back,
.front {
  height: 50px;
  width: 50px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  background: url("../assets/images/pokeball-two.png") no-repeat center center /
    contain;
}
.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.selected {
  transform: rotateY(180deg);
}
.match .front {
  background: #434c4b;
}

@media only screen and (min-width: 768px) {
  .card,
  .front {
    height: 120px;
    width: 120px;
  }

  .back {
    height: 140px;
    width: 140px;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
  }

  #game {
    margin-bottom: 100px;
  }

  label {
    font-size: 50px;
    margin-right: 100px;
  }

  .start-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
